/* Gem Pattern */
.delaunay-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

/* WebStyle Pattern*/
.voronoi-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.web .voronoi-pattern {
    opacity: 0.7;
}

.web {
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.01);
}

.web:hover .voronoi-pattern {
    opacity: 0.8;
}

/* Lava Pattern */
.lava-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    opacity: 1;
}

.lava {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
}

/* Chinese Character and Translation Pattern */
@font-face {
    font-family: "MaShanZheng";
    src: url('../assets/MaShanZheng-Regular.ttf');
}

.chinese-character {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(20px);
    font-size: 8rem;
    font-family: "MashanZheng";
    opacity: 0.8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.chinese-translation {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, 0) translateZ(20px);
    font-family: "STKaiti", "KaiTi", "DFKai-SB", "KaiTi_GB2312", "SimKai", serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    opacity: 0.8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
