:root {
    --primary-bg: #121212;
    --card-bg: #1a1a1a;
    --card-dark-bg: #040404;
    --text-color: #e0e0e0;
    --text-secondary: #a0a0a0;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    --border-radius: 8px;
    --success-color: #2ecc71;

    --gradient: conic-gradient(
        from 90deg at 50% 50%,
        rgb(251, 55, 60),
        rgba(252, 114, 28, 1),
        rgba(255, 220, 0, 1),
        rgba(27, 206, 255, 1),
        rgba(42, 107, 255, 1),
        rgba(217, 41, 255, 1),
        rgba(255, 10, 92, 1)
      );
      
}
